* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.arvo-regular {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}

.arvo-bold {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: normal;
}

.arvo-regular-italic {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: italic;
}

.arvo-bold-italic {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: italic;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.align-start {
  align-items: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.w-50 {
  width: 50%;
}

.w-80 {
  width: 80%;
}

.w-70 {
  width: 70%;
}

.primary-color {
  color: #444444;
}

.secondary-color {
  color: #777777;
}

.gray-color {
  color: #AAAAAA;
}

.margin-auto {
  margin: auto;
}

.primary-button {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
  color: white;
  background: #E27730;
  border: 1px solid #E27730;
  padding: 20px 58px;
}

.secondary-button {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
  color: #777777;
  background: white;
  border: 1px solid #DDDDDD;
  padding: 20px 85px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-item {
  padding: 30px;
  text-align: center;
}

.image-shadow {
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.062745098);
}/*# sourceMappingURL=framework.css.map */