$avroFont: "Arvo", serif;
$latoFont: "Lato", sans-serif;

$secondaryTextColor: #777777;
$primaryTextColor: #444444;
$grayTextColor: #AAAAAA;
$primaryColor: #E27730;

$lightBgColor: #F8F8F8;

$linkColor: #036AAB;

@mixin button {
    font-family: $latoFont;
    font-size: 20px;
    border-radius: 3px;
    display: inline-block;
    text-decoration: none;
}

@mixin iconBox {
    .grid-item {
        padding: 30px;

        .icon-frame {
            width: 48px;
            height: 48px;
            display: inline-block;
        }
        h3 {
            margin: 20px 0;
            font-size: 24px;
            color: $primaryTextColor;
            font-family: $latoFont;
        }
        p {
            font-size: 16px;
            color: $secondaryTextColor;
        }
    }
}

