@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.arvo-regular {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}

.arvo-bold {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: normal;
}

.arvo-regular-italic {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: italic;
}

.arvo-bold-italic {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: italic;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.align-start {
  align-items: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.w-50 {
  width: 50%;
}

.w-80 {
  width: 80%;
}

.w-70 {
  width: 70%;
}

.primary-color {
  color: #444444;
}

.secondary-color {
  color: #777777;
}

.gray-color {
  color: #AAAAAA;
}

.margin-auto {
  margin: auto;
}

.primary-button {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
  color: white;
  background: #E27730;
  border: 1px solid #E27730;
  padding: 20px 58px;
}

.secondary-button {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
  color: #777777;
  background: white;
  border: 1px solid #DDDDDD;
  padding: 20px 85px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-item {
  padding: 30px;
  text-align: center;
}

.image-shadow {
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.062745098);
}

.top-hero {
  padding: 50px 0 0 0;
  background: #F8F8F8;
  box-shadow: inset 0 -250px 0 0 white;
}
.top-hero p {
  line-height: 1.4em;
  margin: 40px 0px 50px 0px;
}
.top-hero .video-section {
  margin-top: 50px;
  border-radius: 3px;
  position: relative;
  box-shadow: 0px 0px 50px 30px rgba(0, 0, 0, 0.0823529412);
}
.top-hero .play-button {
  width: 124px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.top-hero .heading-with-pro-badge {
  display: inline-block;
}
.top-hero .heading-with-pro-badge .pro-badge {
  left: 100%;
  top: -10px;
  color: #BBBBBB;
}

.feature-section {
  padding: 130px 0px;
}
.feature-section .grid-item {
  padding: 30px;
}
.feature-section .grid-item .icon-frame {
  width: 48px;
  height: 48px;
  display: inline-block;
}
.feature-section .grid-item h3 {
  margin: 20px 0;
  font-size: 24px;
  color: #444444;
  font-family: "Lato", sans-serif;
}
.feature-section .grid-item p {
  font-size: 16px;
  color: #777777;
}
.feature-section .grid-item:nth-child(1),
.feature-section .grid-item:nth-child(2) {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.feature-section .grid-item:nth-child(3) {
  border-bottom: 1px solid #ddd;
}
.feature-section .grid-item:nth-child(4),
.feature-section .grid-item:nth-child(5) {
  border-right: 1px solid #ddd;
  padding-top: 60px;
}
.feature-section .grid-item:nth-child(6) {
  padding-top: 60px;
}

.testimonial-section {
  padding: 120px 0px;
  background: linear-gradient(#F8F8F8, #FFFFFF);
}
.testimonial-section .testimonial-card {
  width: 286.67px;
}
.testimonial-section .testimonial-card .testimonial-content {
  background: #fff;
  border: 1px solid #ddd;
  padding: 30px;
  border-radius: 6px;
}
.testimonial-section .testimonial-card blockquote {
  font-size: 16px;
}
.testimonial-section .testimonial-card .testimonial-footer {
  margin-top: 20px;
}
.testimonial-section .testimonial-card .testimonial-footer p {
  font-size: 14px;
}

.form-control-section {
  background: #F8F8F8;
  padding: 100px 0px;
}
.form-control-section .left-image {
  padding: 0px 0px;
}
.form-control-section .right-content {
  padding: 0px 0px 0px 60px;
}
.form-control-section .right-content h2 {
  font-size: 32px !important;
}
.form-control-section .right-content p {
  font-size: 18px !important;
  margin-top: 20px;
  line-height: 1.55em;
}

.testing-wp-forms-section {
  padding: 100px 0px;
}
.testing-wp-forms-section .grid-item:nth-child(1) {
  padding: 0px 20px 0px 0px;
}
.testing-wp-forms-section .grid-item:nth-child(2) {
  padding: 0px 0px 0px 20px;
}
.testing-wp-forms-section img {
  border-radius: 6px;
}

.use-case-section {
  padding: 0px 0px;
}
.use-case-section .grid-item {
  padding: 30px;
}
.use-case-section .grid-item .icon-frame {
  width: 48px;
  height: 48px;
  display: inline-block;
}
.use-case-section .grid-item h3 {
  margin: 20px 0;
  font-size: 24px;
  color: #444444;
  font-family: "Lato", sans-serif;
}
.use-case-section .grid-item p {
  font-size: 16px;
  color: #777777;
}
.use-case-section .use-cases {
  margin: 50px 0px;
}
.use-case-section h2 {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 500;
  padding: 25px 0px;
}
.use-case-section .grid-item:nth-child(1),
.use-case-section .grid-item:nth-child(2) {
  border-right: 1px solid #ddd;
}

.footer {
  padding: 25px 0px 80px 0px;
}
.footer .cta {
  margin-top: 20px;
  font-size: 18px;
}
.footer .cta .lead {
  font-family: "Lato", sans-serif;
  color: #777777;
}
.footer .cta a {
  color: #036AAB;
}
.footer h2 {
  font-size: 24px;
  font-weight: "Lato", sans-serif;
  color: #444444;
}/*# sourceMappingURL=style.css.map */